{% extends "base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <div class="container">
    {% include "components/sidebar.html" %}

    <div class="content">
      {% include "components/sections/aboutme.html" %}
      {% include "components/sections/experience.html" %}
      {% include "components/sections/education.html" %}
      {% include "components/sections/certifications.html" %}
    </div>
  </div>

  <style>
    .content {
      width: 70%;
      padding: var(--spacing-lg) var(--spacing-xl);
      overflow: auto;
    }
  </style>
{% endblock %}
