{% if certifications %}
<div class="section">
  <h3>{{ certifications.header }}</h3>
  {% for cert in certifications.list %}
  <div class="cert-item">
    <div class="cert-header">
      <div class="cert-info">
        <div class="cert-title">{{ cert.degree }}</div>
        <div class="cert-issuer">{{ cert.institution }} | {{ cert.year }}</div>
        {% if cert.description %}
        <div class="cert-description">{{ cert.description }}</div>
        {% endif %}
      </div>
      {% if cert.img %}
      <div class="cert-image-container">
        <img class="cert-image" src="{{ cert.img }}">
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<style>
  .cert-item {
    margin-bottom: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--color-light);
  }

  .cert-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .cert-header {
    display: flex;
    justify-content: space-between;
  }

  .cert-title {
    font-weight: 600;
    color: var(--color-primary);
  }

  .cert-issuer {
    color: var(--color-secondary);
    margin: var(--spacing-xs) 0;
  }

  .cert-description {
    color: var(--color-tertiary);
  }

  .cert-image-container {
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-light);
    position: relative;
  }

  .cert-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
  }
</style>
