{% if experience %}
<div class="section">
  <h3>{{ experience.header }}</h3>
  {% for job in experience.list %}
  <div class="item">
    <div class="flex-header">
      <span class="company">{{ job.company }}</span>
      <span class="period">{{ job.period }}</span>
    </div>
    <div class="role">{{ job.role }}</div>
    <p>{{ job.details }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}

<style>
  .company {
    font-weight: 700;
    color: var(--color-primary);
  }

  .period {
    color: var(--color-tertiary);
  }

  .role {
    font-weight: 600;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-xs);
  }
</style>
