{% if skills %}
<div class="section">
  <h3>{{ skills.header }}</h3>
  <div class="skills">
    {% for skill in skills.list %}
    <div class="skill-tag">{{ skill }}</div>
    {% endfor %}
  </div>
</div>
{% endif %}

<style>
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
  }

  .skill-tag {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius-md);
  }
</style>
